

#screens {
    position: absolute;
    background: #f5f5f5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s ease-in-out;

    .viewport {
        position: relative;
        width: 375px;
        height: 812px;
        min-width: 375px;
        min-height: 812px;
        transform: matrix(1, 0, 0, 1, -5, -27);
        background: #fff;
    }

}
