.group-list {

    .rich-text {
        display: flex;
        background: #0000;

        .text {
            color: #000033;
            white-space: pre-wrap;
            word-break: break-word;
            word-wrap: break-word;
            overflow: hidden;
        }
    }

    .rich-text, .text-auto {
        //white-space: pre;
        overflow: visible;
    }
}
