.group-list {

    .rich-text {
        display: flex;
        background: #0000;
        flex: 1;

        .text {
            flex: 1;
            white-space: pre-wrap;
            word-break: break-word;
            word-wrap: break-word;
            overflow: hidden;
        }
    }

    .rich-text, .text-auto {
        overflow: visible;
    }
}
