
.ds-design {
    .item-layout {
        padding: 8px 10px 0 10px;

        .title {
            color: #415058;
        }

        .bg-content {
            align-items: center;
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            min-height: 22px;
            padding-top: 14px;
        }

    }
}
