
.ds-design {
    .item-layout {

        p.title {
            color: #415058;
        }

        .bg-content {
            flex-direction: column;
            display: flex;
            -webkit-box-pack: justify;
            min-height: 22px;
            padding-top: 4px;

        }

    }
}
