
.group-list.pc {
    .detail-header-left {
        width: 108px;
        height: 108px;

        div {
            width: 64px;
            height: 64px;
            background-color: #8e7fe5;
            margin-top: 18px;
            margin-left: 20px;
            border-radius: 50%;
            text-align: center;
        }
    }

    .detail-header-content {
        flex: 1;
    }

}
